<div class="follow-us mod-info">
  <h3>Follow us</h3>
  <div class="mod-follow-us">
    <ul>
      <li><%= link_to(' ',"https://twitter.com/TFGHer", :class=>"twitter", :target=>"_blank") %></li>
      <li><%= link_to(' ',"https://www.facebook.com/pages/The-Task-Force-for-Global-Health/82116002806", :class=>"facebook", :target=>"_blank") %></li>
      <li><a class="email" href="mailto:estrunz@taskforce.org"></a></li>
    </ul>
  </div>
</div>
